@import "./leptonic/leptonic-themes";

body {
    margin: 0px;
}

leptonic-drawer {
    z-index: 900;
}

[data-theme="light"] {
    --app-bar-background-color: #aaa;
}

[data-theme="dark"] {
    --app-bar-background-color: #444;
    
}
